<div class="bg-top-image">
    <div class="container FirstView">
        <h2 class="FirstView_Title">
            PotepanShareで
            <br>
            まだ体験したことのない
            <br>
            旅をしよう
        </h2>
    </div>
    <div class="FirstView_Search">
        <%= form_with(url: rooms_path, local: true, method: :get ,class:"d-grid gap-3") do |f| %>
            <%= f.text_field :area, class:"form-control", placeholder: 'エリアから探す' %>
            <%= f.submit "検索" ,class:"btn btn-secondary" %>
        <% end %>
    </div>
</div>

<div class="container">
    <section class="RecommendAreaSection">
        <h2 class="RecommendAreaText">おすすめエリア</h2>
        <div class="RecommendAreas  card-group gap-4">

            <div class="card RecommendArea Tokyo">
            <%#リンク先は仮にrootを設定%>
                <%= link_to rooms_path area: "東京" do %>
                    <%= image_tag "tokyo.jpeg" , alt: "Tokyo", class: "card-img cover" %>
                        <div class="card-img-overlay  d-flex flex-column justify-content-end text-white">
                            <span>東京</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                Tokyo
                            </span>
                        </div>
                <% end %>
            </div>
            <div class="card RecommendArea Osaka">
            <%#リンク先は仮にrootを設定%>
                <%= link_to rooms_path area: "大阪" do %>
                    <%= image_tag "osaka.jpeg" , alt: "Osaka" ,class: "card-img cover" %>
                        <div class="card-img-overlay d-flex flex-column justify-content-end text-white">
                            <span>大阪</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                Osaka
                            </span>
                        </div>
                <% end %>
            </div>

            <div class="card RecommendArea Kyoto">
            <%#リンク先は仮にrootを設定%>
                <%= link_to rooms_path area:"京都" do %>
                    <%= image_tag "kyoto.jpeg" , alt: "Kyoto" ,class: "card-img cover" %>
                        <div class="card-img-overlay  d-flex flex-column justify-content-end text-white">
                            <span>京都</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                kyoto
                            </span>
                        </div>
                <% end %>
            </div>

            <div class="card RecommendArea Sapporo">
            <%#リンク先は仮にrootを設定%>
                <%= link_to rooms_path area:"札幌" do %>
                    <%= image_tag "sapporo.jpeg" , alt: "Sapporo" ,class: "card-img cover" %>
                        <div class="card-img-overlay d-flex flex-column justify-content-end text-white">
                            <span>札幌</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                Sapporo
                            </span>
                        </div>
                <% end %>
            </div>
        </div>
    </section>
</div>
<%= render "shared/footer" %>


